:root {
  --font-base: 'Poppins', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  --primary-color: #f5f7fb;
  --secondary-color: #2d35c5;
  --white-color: #ffffff;
  --gray-color: #5a5f6d;
  --black-color: #030303;
}

body {
  margin: 0;
  font-family: var(--font-base);
  color: var(--black-color);
  background-color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
